:root {
  --app-c-text-light-1: rgb(248, 249, 250);
  --app-c-text-light-2: rgb(233, 236, 239);
  --app-c-text-black-1: rgb(33, 37, 41);
  --app-c-text-black-2: rgb(73, 80, 87);
  --app-c-text-grey-1: rgb(173, 181, 189);

  --cocktail-grey: rgb(239, 236, 236);
  --cocktail-navy: rgb(12, 45, 87);
  --cocktail-orange: rgb(252, 103, 54);
  --cocktail-peach: rgb(255, 176, 176);
  --cocktail-boxshadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.2);

  --cocktail-dark-1: rgb(47, 59, 59);
  --cocktail-dark-1: rgb(47, 59, 50);
  --cocktail-dark-2: rgb(70, 87, 69);
  --cocktail-dark-3: rgb(100, 110, 93);

  --cocktail-light-1: #f8f0e5;
  --cocktail-light-2: rgb(234, 219, 200);
  --cocktail-light-3: rgb(218, 192, 163);
}
.cocktail-color__1 {
  color: var(--cocktail-light-1);
}
.cocktail-color__2 {
  color: var(--cocktail-light-2);
}
.cocktail-color__3 {
  color: var(--cocktail-light-3);
}
.cocktail-title__1 {
  font-weight: bold;
  font-size: 15rem;
}
.cocktail-title__2 {
  font-size: 10rem;
}
.cocktail-title__3 {
  font-size: 7rem;
}
.cocktail-font__1 {
  font-weight: bold;
  font-size: 5rem;
}
.cocktail-font__2 {
  font-size: 3rem;
}
.cocktail-font__3 {
  font-size: 2.3rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  font-weight: normal; */
}

.pulsate {
  /* background: linear-gradient(
    -45deg,
    var(--app-c-text-light-1),
    var(--app-c-text-grey-1),
    var(--app-c-text-light-1),
    var(--app-c-text-light-2)
  ); */
  background-size: 400% 400%;
  animation: pulse 2.25s ease infinite;
}
@keyframes pulse {
  0%,
  100% {
    background-color: var(--app-c-text-light-2);
  }
  50% {
    background-color: var(--app-c-text-grey-1);
  }
}
