.layoutCocktails-enter-active,
.layoutCocktails-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.layoutCocktails-enter-from,
.layoutCocktails-leave-to {
  opacity: 0;
  transform: translateY(10rem);
}

.listGroup-move,
.listGroup-enter-active,
.listGroup-leave-active {
  transition:
    transform 1s ease,
    opacity 0.5s ease;
}

.listGroup-enter-from,
.listGroup-leave-to {
  opacity: 0;
}
.listGroup-leave-active {
  position: absolute;
}
